<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 *   Copyright (c) 2024 MinTechHub <saif.ali@mintechhub.com> - MinTechHub
 *   All rights reserved
 *
 *   This product includes proprietary software developed at MinTechHub
 *   For more information see https://www.mintechhub.com/
 *
 *   To obtain a valid license for using this software please contact us at saif.ali@mintechhub.com
 */

/**
 * @copyright  2024 MinTechHub <saif.ali@mintechhub.com> - MinTechHub
 * @link       https://www.mintechhub.com/
 * @author     Saif Ali <saif.ali@mintechhub.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
        <add id="mintechhub_cart" title="Shopping Cart" module="MinTechHub_ShoppingCart" sortOrder="50" action="mintechhub_cart/carts/index" resource="MinTechHub_ShoppingCart::cart" parent="Magento_Sales::sales_operation"/>
    </menu>
</config>